<ion-header>
  <ion-toolbar>
    <ion-title>animals-game</ion-title>
    <ion-button (click)="isReorderDisabled= ! isReorderDisabled"
    [color]="isReorderDisabled?'secondary':'danger'"
    slot="end">Reorder</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  {{'lady ada lovelace' | capitalize }}

  <ion-list>
    <ion-reorder-group [disabled]="isReorderDisabled" (ionItemReorder)="doReorder($event)">
      <ion-item *ngFor="let animaux of animals" (click)="guess(animaux)">
        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <h3>{{ animaux.title }}</h3>
            </ion-col>
          </ion-row> 
          <ion-row>
            <ion-col size="12">
              <p>{{ animaux.desc | capitalize }}</p>
            </ion-col>
          </ion-row>
          <ion-avatar>
              <ion-img src="/assets/assets/{{ animaux.image }}"></ion-img>
          </ion-avatar> 
        </ion-grid>
        <ion-icon name="musical-notes" *ngIf="animaux.playing" slot="end"></ion-icon>
        <ion-reorder slot="end"></ion-reorder>
      </ion-item>
    </ion-reorder-group>
  </ion-list>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button (click)="play()" expand="block">JOUER</ion-button>
  </ion-toolbar>
</ion-footer>